@media screen and (max-width: "23.5rem") {
  .card-container {
    flex-direction: column;
    width: 20.43rem;
    overflow: unset;
    height: 34rem;
    padding: 0;

    .image-container {
      width: 100%;
      height: 11.25rem;
      background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
      background-position: 0.7rem -0.1rem;
      position: relative;
      padding-bottom: 10rem;
      top: -6.8rem;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 11.25rem;
        background: url(../images/bg-pattern-mobile.svg) no-repeat;
        top: 7rem;
        left: 2.5rem;
      }
    }

    .faq-container {
      margin: 0 1.56rem;
      height: 24rem;

      &-heading {
        margin-top: -4.187rem;
        margin-bottom: 1.813rem;
        text-align: center;
      }

      .faq-section {
        width: auto;
      }
    }
  }

  .mailbox-container {
    &::before {
      content: "";
      display: none;
    }
  }
}
